<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="shui-cells">
      <div class="shui-cell">
        <div class="shui-cell_hd"></div>
        <div class="shui-cell_bd">666</div>
        <div class="shui-cell_ft"></div>
      </div>
      <div class="shui-cell shui-cell_link">
        <div class="shui-cell_hd"></div>
        <div class="shui-cell_bd">设置</div>
        <div class="shui-cell_ft"></div>
      </div>
    </div>
</body>
</html>